---
import Layout from '../layouts/Layout.astro';

import pp from '../assets/img/ppghibli.png';
import Contact from '../components/Contact.astro';
---

<Layout>
    <section id="about" class="flex flex-col justify-center items-center pt-32">
        <img class="w-44 h-44 border-2 border-white rounded-full" src={pp.src} alt="Photo de profil" fetchpriority="high"/>

        <div class="flex flex-col md:flex-row justify-start items-baseline max-w-[360px] md:max-w-[396px]">
            
            <div>
                <p class="text-xl md:text-2xl pt-16 text-[#ffc576]">
                    Bonjour, je suis 
                </p>
                <h1 class="text-3xl md:text-6xl pt-4 font-mono">
                    Hugo Lacosse
                </h1>
                <p class="text-xl md:text-2xl pt-4 font-semibold">
                    Développeur Web Full-Stack
                </p>
            </div>
        </div>
    </section>

    <section id="career" class="flex flex-col justify-center items-center">
        <article class="w-5/6 md:w-3/5 flex flex-col">
            <div class="mt-16">
                <h2 class="text-[#ffc576] text-2xl">Parcours</h2>
                <p class="text-lg mt-4 font-mono">
                    Passionné d'informatique, j'ai commencé à apprendre la programmation en ligne, avant de rejoindre l'École 42 à Paris.</br></br>
                    À l'École 42, j'ai principalement écrit du code et des programmes en langage C, qui m'ont permis d'apprendre les bases de la programmation et le fonctionnement des systèmes d'exploitations. Je me suis aussi intéressé au Machine Learning et j'ai obtenu la spécialisation "Deep learning" sur la plateforme Coursera.</br></br>
                    J'ai ensuite choisi de suivre la formation de Développeur Web d'OpenClassroom car je souhaitais me spécialiser dans le développement d'applications Web.
                </p>
            </div>
        </article>
    </section>

    <section id="certifications"  class="flex flex-col justify-center items-center">
        <article class="w-5/6 md:w-3/5 flex flex-col">
            <div class="mt-16 mb-32 w-full flex">
                <div class="flex flex-col grow">
                    <h3 class="text-[#ffc576] text-xl font-semibold">Diplômes</h3>
                    <ul class="mt-2 font-mono">
                        <li class="text-xl font-medium pt-2">- 2012: Bac S &emsp;&emsp;&emsp; &emsp;&emsp;&emsp; : Sciences de l'Ingénieur</li>
                        <li class="text-xl font-medium pt-2">- 2019: Coursera &emsp;&emsp; &emsp; : Deep Learning Specialization</li>
                        <li class="text-xl font-medium pt-2">- 2023: Ecole 42 &emsp;&emsp; &emsp; : Level 14</li>
                        <li class="text-xl font-medium pt-2">- 2026: Openclassroom : Développeur web (Bac +2)</li>
                    </ul>
                </div>
            </div>
        </article>
    </section>
</Layout>
